body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 5vh 5vw;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #ff3366;
    font-size: 5vw;
}

.heart {
    font-size: 10vw;
    color: #ff3366;
}

.button {
    padding: 2vh 4vw;
    margin: 1vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vw;
    transition: transform 0.2s;
}

.yes {
    background-color: #ff80b1;
    color: white;
}

.no {
    background-color: #f88add;
    color: white;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.show {
    opacity: 1;
}

.carta {
    width: 60vw;
    max-width: 250px;
    height: 40vw;
    max-height: 150px;
    background-image: url('../img/carta.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5vh auto;
    padding: 4vh;
    position: relative;
    color: #000;
    font-size: 3vw;
    animation: oscilar 5.5s ease-in-out infinite;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carta p{
    color: #ff80b1;
    font-size:  3vw;
}

#videoContainer {
    max-width: 100%;
    text-align: center;
}

#miVideo {
    width: 80vw;
    max-width: 600px;
}

#mensajeFinal {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
}

#mensajeFinal h1 {
    font-size: 10vw;
    color: #ff3366;
}

@keyframes oscilar {
    0% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.word {
    display: inline-block;
    opacity: 0;
    animation: slideIn 0.5s forwards;
    margin-right: 5px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 7vw;
    }

    .heart {
        font-size: 18vw;
    }

    .button {
        font-size: 5vw;
        padding: 2vh 8vw;
    }

    .carta {
        width: 75vw;
        height: 50vw;
        font-size: 4vw;
        padding: 4vh;
    }

    .carta p {
        font-size: 4vw;
    }

    #miVideo {
        width: 90vw;
        max-width: 400px;
    }

    #mensajeFinal h1 {
        align-items: center;
        justify-content: center;
        font-size: 12vw;
    }
}
